<h1>Add an Item</h1>
<form method="post" action="/checkout">


<p>
<label>Item Name: <input type="text" name="item"></label>
</p>

<button type="submit" value="SUBMIT" name="submit">submit</button>


</form>